<section class="container">
    <h2 class="container__titulo">Educacion</h2>
    <div class="caontainer__educacion">
        <h3 class="educacion__h3">titulo1</h3>
        <h4 class="expeciencia__h4">desde-hasta</h4>
        <p class="educacion__p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet ducimus sapiente ab optio perspiciatis. Possimus autem,
            consectetur error maiores, aliquid modi provident perferendis quam
            adipisci delectus quia officiis? Ut, quae?
        </p>
    </div>
    <div class="caontainer__educacion">
        <h3 class="educacion__h3">titulo2</h3>
        <h4 class="expeciencia__h4">desde-hasta</h4>
        <p class="educacion__p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet ducimus sapiente ab optio perspiciatis. Possimus autem,
            consectetur error maiores, aliquid modi provident perferendis quam
            adipisci delectus quia officiis? Ut, quae?
        </p>
    </div>
    <div class="caontainer__educacion">
        <h3 class="educacion__h3">titulo3</h3>
        <h4 class="educacion__h4">desde-hasta</h4>
        <p class="educacion__p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet ducimus sapiente ab optio perspiciatis. Possimus autem,
            consectetur error maiores, aliquid modi provident perferendis quam
            adipisci delectus quia officiis? Ut, quae?
        </p>
    </div>
</section>