<header class="header">
    <section class="container__nav">
        <img class="logo" src="../../../assets/img/logo.png" alt="logo">
        <nav class="nav">
            <ul class="container_ul">
                <li class="container__ul-icono">
                    <i class="fa-brands fa-linkedin"></i>
                </li>
                <li class="container__ul-icono">
                    <i class="fa-brands fa-github"></i>
                </li>
                <li class="container__ul-icono">
                    <i class="fa-brands fa-facebook"></i>
                </li>
                <li class="container__ul-icono">
                    <i class="fa-brands fa-instagram"></i>
                </li>
                <li class="container__ul-icono button">
                    <button class="nav__ul-button"><b>Login</b></button>
                </li>
            </ul>
        </nav>
    </section>
    <img class="banner" src="../../../assets/img/banner.jpg" alt="banner">
</header>