<section class="container">
    <h2 class="caontainer__titulo">Experiencia</h2>
    <div class="caontainer__experiencia">
        <h3 class="experiencia__h3">trabajo1</h3>
        <h4 class="expeciencia__h4">desde-hasta</h4>
        <p class="expeciencia__p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet ducimus sapiente ab optio perspiciatis. Possimus autem,
            consectetur error maiores, aliquid modi provident perferendis quam
            adipisci delectus quia officiis? Ut, quae?
        </p>
    </div>
    <div class="caontainer__experiencia">
        <h3 class="experiencia__h3">trabajo2</h3>
        <h4 class="expeciencia__h4">desde-hasta</h4>
        <p class="expeciencia__p">Lorem ipsum dolor
            sit amet consectetur adipisicing elit.
            Eveniet ducimus sapiente ab optio perspiciatis. Possimus autem,
            consectetur error maiores, aliquid modi provident perferendis quam
            adipisci delectus quia officiis? Ut, quae?
        </p>
    </div>
    <div class="caontainer__experiencia">
        <h3 class="experiencia__h3">trabajo3</h3>
        <h4 class="expeciencia__h4">desde-hasta</h4>
        <p class="expeciencia__p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet ducimus sapiente ab optio perspiciatis. Possimus autem,
            consectetur error maiores, aliquid modi provident perferendis quam
            adipisci delectus quia officiis? Ut, quae?
        </p>
    </div>
</section>