<div class="container">
    <h2>Hard Skills & Soft Skills</h2>
    <circle-progress
        [percent]="85"
        [radius]="150"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
        [showSubtitle]="false"
        [title]="'HTML'"
        [titleColor]="'#000'"
        [titleFontSize]="'3em'"
        [showUnits]="false"
    ></circle-progress>

     <circle-progress
         [percent]="85"
        [radius]="150"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
        [showSubtitle]="false"
        [title]="'CSS'"
        [titleColor]="'#000'"
        [titleFontSize]="'3em'"
        [showUnits]="false"
    ></circle-progress>

    <circle-progress
        [percent]="85"
        [radius]="150"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
        [showSubtitle]="false"
        [title]="'JS'"
        [titleColor]="'#000'"
        [titleFontSize]="'3em'"
        [showUnits]="false"
    ></circle-progress>

    <circle-progress
        [percent]="85"
        [radius]="150"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
        [showSubtitle]="false"
        [title]="'Angular'"
        [titleColor]="'#000'"
        [titleFontSize]="'3em'"
        [showUnits]="false"
    ></circle-progress>

    <circle-progress class="circulo1"
        [percent]="85"
        [radius]="150"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
        [showSubtitle]="false"
        [title]="'Java'"
        [titleColor]="'#000'"
        [titleFontSize]="'3em'"
        [showUnits]="false"
    ></circle-progress>

    <circle-progress
        [percent]="85"
        [radius]="150"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
        [showSubtitle]="false"
        [title]="'mySQL'"
        [titleColor]="'#000'"
        [titleFontSize]="'3em'"
        [showUnits]="false"
    ></circle-progress>

</div>
