<section class="container__informacion">
    <img class="img__perfil" src="../../../assets/img/perfil.jpg" alt="perfil">
    <div class="container__informacion-div">
        <h2 class="nombre">Nombre y apellido</h2>
        <h3 class="titulo">Full Stack Developer Jr.</h3>
         <p class="sobreMi"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit natus explicabo praesentium
              accusamus minus quia, necessitatibus beatae quas quisquam voluptatem culpa ut repudiandae.
              Sed animi quasi nemo facilis, repellat reiciendis?
             Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo unde, libero incidunt saepe
              autem tempora eligendi, obcaecati enim veritatis dignissimos doloremque labore cum omnis fugit.
              Sed, harum. Ex, vero officia!
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut ea, recusandae corporis dolorum officia
             minima porro praesentium quae dolorem voluptatum nobis. Deserunt et consequuntur tenetur obcaecati officia ab qui perferendis!
         </p>
    </div>
</section>
